RAZORPAY_KEY_ID=rzp_test_xxx
RAZORPAY_KEY_SECRET=your_secret
RAZORPAY_WEBHOOK_SECRET=your_webhook_secret
MONGO_URI=mongodb://mongo:27017/payments
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=supersecurepassword
PORT=3000
JWT_SECRET=verysecretjwt
FRONTEND_URL=http://localhost:3001,https://pay.anishkumar.tech
